body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.cabecalho img {
  height: 50px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: rgb(7, 9, 161);
  font-weight: bold;
}

.conteudo {
  height: 500px;
  background: linear-gradient(to right, #a3a3ff, #0000ff);
}
